.container{
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
}

.topContainer{
  width: 100%;
  min-width: 400px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  gap: 5px;
}

.bottomContainer{
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}

.leftBottomContainer{
  width:50%;
  width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rightBottomContainer{
  width: 50%;
  width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}


@media (max-width: 1400px) {
  .topContainer{
    margin-bottom: 30px;
  }
}