.header {
  padding: 16px 24px;
  background: white;
}

.modal p {
  margin: 0;
}

.statusContainer {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.contentContainerHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.status {
  width: 6px;
  height: 6px;
  border-radius: 50%;
}

.successTestCard {
  background-color: rgba(82, 196, 26, 0.2);
  cursor: pointer;
}

.successTestCard .status {
  background: #52c41a;
}

.failTestCard {
  background-color: rgba(245, 34, 45, 0.2);
  cursor: pointer;
}

.failTestCard .status {
  background: #ff4d4f;
}

.onProgressTestCard {
  background-color: rgba(255, 176, 24, 0.2);
  cursor: pointer;
}

.onProgressTestCard .status {
  background: #ffb018;
}

.openTestCard {
  background-color: rgba(201, 201, 201, 0.2);
}

.openTestCard .status {
  background: #c9c9c9;
}

.testContent {
  display: flex;
  flex-direction: column;
}

.footerCard {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.assignContainer {
  display: flex;
  justify-content: space-between;
}

.secondaryText {
  color: rgba(0, 0, 0, 0.45);
}

.tagsContainer{
  margin-top: 10px;
  margin-bottom: 10px;
}

.optionDescription{
  color: #a0a0a0;
  font-weight: 100;
  white-space: wrap !important;
}