.header {
  padding: 16px 24px;
  background: white;
  min-height: 600px;
}

.headerContentContainer {
  display: flex;
  align-items: center;
}

.logo {
  flex-grow: 1;
  color: white;
  align-items: center;
}

.logoutContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.modal p {
  margin: 0;
}

.successTestCard p,
.failTestCard p,
.onProgressTestCard p,
.openTestCard p {
  margin: 0;
}

.statusContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.contentContainerHeader {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.successTestCard {
  background-color: rgba(82, 196, 26, 0.2);
  cursor: pointer;
}

.successStatus {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #52c41a;
}

.failTestCard {
  background-color: rgba(245, 34, 45, 0.2);
  cursor: pointer;
}

.failStatus {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #ff4d4f;
}

.onProgressTestCard {
  background-color: rgba(255, 176, 24, 0.2);
  cursor: pointer;
}

.onProgressStatus {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #ffb018;
}

.openTestCard {
  background-color: rgba(201, 201, 201, 0.2);
}

.openStatus {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #c9c9c9;
}

.testContent {
  display: flex;
  flex-direction: column;
}

.footerCard {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.assignContainer {
  display: flex;
  justify-content: space-between;
}

.secondaryText {
  color: rgba(0, 0, 0, 0.45);
}
